<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Usage Description Keys for NSOpenPanel/NSSavePanel -->
    <key>NSDownloadsFolderUsageDescription</key>
    <string>HiDocu needs access to your Downloads folder to save recordings from your HiDock device.</string>
    
    <key>NSDesktopFolderUsageDescription</key>
    <string>HiDocu needs access to your Desktop folder to save recordings from your HiDock device.</string>
    
    <key>NSDocumentsFolderUsageDescription</key>
    <string>HiDocu needs access to your Documents folder to save recordings from your HiDock device.</string>
</dict>
</plist>
